ilanewep.cloud {
    encode gzip

    root * /srv/frontend
    file_server

    @api path /api/* /admin/* /static/* /media/*
    handle @api {
        reverse_proxy web:8000
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
www.ilanewep.cloud {
    redir https://ilanewep.cloud{uri}
}
